<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            &nbsp;
            &nbsp;

            <a [routerLink]="['']" class="nav-link" type="button" class="text-dark" routerLinkActive="active"
                (click)=logout()>Logout</a>

        </li>
    </ul>
</nav>
<br>

<!-- <a [routerLink] ="['']" type="button" class="nav-link" class="text-dark" routerLinkActive="active"> Logout</a> -->

<div>
    <h2 class="text-center">Welcome {{userName}} to Home page</h2>
</div>